# Desviación estándar

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../Datasets/Air_Quality.csv', sep=',')

In [8]:
df_limpiar = df.copy()
df_Dropped = df_limpiar.dropna(axis=1, how='all')
df_Dropped

df_3 = df_Dropped.copy()

def revisar_secuencia_index():
    indices_actuales = df_3.index
    #Crear una secuencia esperada (por ejemplo, una secuencia numérica)
    secuencia_esperada = pd.Index(range(indices_actuales.min(), indices_actuales.max() + 1))

    # Comparar
    if indices_actuales.equals(secuencia_esperada):
        print("La secuencia de índices es la esperada.")
    else:
        print("La secuencia de índices ha cambiado.")
revisar_secuencia_index()

df_Limpio= df_3.reset_index(drop = True)
df_Limpio

column_name_mapping = {
'Unique ID': 'ID ', 
'Indicator ID': 'ID Indicador', 
'Name':'Tipo Contaminante', 
'Measure': 'Medida', 
'Measure Info': 'Info Medida',
'Geo Type Name': 'Tipo Geografico', 
'Geo Join ID': 'ID Geografico', 
'Geo Place Name' :'Lugar Geografico' , 
'Time Period': 'Periodo Tiempo' ,
'Start_Date': 'Fecha Inicio', 
'Data Value': 'Valor'
}

df_TablaLimpia = df_Limpio.rename(columns= column_name_mapping)
df_TablaLimpia['Fecha Inicio'] = pd.to_datetime(df_TablaLimpia['Fecha Inicio'] )
df_TablaLimpia.head(5)

La secuencia de índices es la esperada.

,ID,ID Indicador,Tipo Contaminante,Medida,Info Medida,Tipo Geografico,ID Geografico,Lugar Geografico,Periodo Tiempo,Fecha Inicio,Valor
0,216498,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2013,2013-06-01,34.64
1,216499,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2014,2014-06-01,33.22
2,219969,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2013,2013-06-01,31.25
3,219970,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2014,2014-06-01,31.15
4,164876,383,Sulfur Dioxide (SO2),Mean,ppb,CD,211,Morris Park and Bronxdale (CD11),Winter 2008-09,2008-12-01,5.89

In [5]:
df_TablaLimpia['Valor']

0        34.64
1        33.22
2        31.25
3        31.15
4         5.89
         ...
16117    28.70
16118    29.56
16119    29.65
16120    29.28
16121    28.93
Name: Valor, Length: 16122, dtype: float64

In [6]:
df_TablaLimpia['Valor'].mean()

19.129162518473574

In [7]:
df_TablaLimpia['Valor'].std()

21.673789259668315